body {
    background-image: url("images/confetti.gif");
    font-family: Helvetica;
    body{
    background-color: black;
    font-family: Helvetica;
    font-size: 22px;
    padding: 20px;
}

h1 {
    color: rgb(255, 203, 5); /* rgb value */
    text-align: center;
}

.big_div {
    border-style: solid; /* hex value */
    border-color: blue; 
    
    margin: 30px;
    padding: 20px;
}

.pokemon_name {
    text-align: center
    font-size: 150px;
    font-weight: bold;
    margin: 10px;
}

.sub_div {
    display: flex;
}

img {
    width: 250px;
    padding-right: 50px;
}

#special {
    font-weight:bold;
    color: rgb(0,255,0); /* rgb value */
}

p{
    color: white;
}
}

h1 {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 300%;
    padding: 20px;
}

img {
    border: 5px solid #FFCB05;
    padding: 10px;
}

ul {
    list-style-image: url('images/pikachu.png');
}

.the_divs {
    font-weight: bold;
}

#one {
    text-align: center;
}

#two {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 150%;
    padding: 20px;
}

#three {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
}

#yellow {
    color: #FFCB05;
}

#raichu, #ash, #team_rocket {
    height: 75px;
    border: none;
    padding-bottom: 0px;
}